USE [master]
GO
/****** Object:  Database [FortuneTellerMVC]    Script Date: 9/15/2016 8:35:57 PM ******/
CREATE DATABASE [FortuneTellerMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FortuneTellerMVC', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FortuneTellerMVC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FortuneTellerMVC_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FortuneTellerMVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FortuneTellerMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FortuneTellerMVC]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/15/2016 8:35:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[BirthMonth] [nvarchar](50) NOT NULL,
	[FavoriteColor] [nvarchar](50) NOT NULL,
	[NumberOfSiblings] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Age], [BirthMonth], [FavoriteColor], [NumberOfSiblings]) VALUES (1, N'Ben', N'Demko', 42, N'June', N'Green', N'1         ')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Age], [BirthMonth], [FavoriteColor], [NumberOfSiblings]) VALUES (2, N'John', N'Doe', 54, N'July', N'Red', N'3         ')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Age], [BirthMonth], [FavoriteColor], [NumberOfSiblings]) VALUES (3, N'Jane', N'Doe', 2, N'July', N'Blue', N'2         ')
SET IDENTITY_INSERT [dbo].[Customers] OFF
USE [master]
GO
